body {
    background-color: 	#3b444b;
    color: white;
    font-family: Arial, sans-serif;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="24" height="24"><circle cx="50" cy="50" r="40" fill="blue"/></svg>') 12 12, auto;
  }
  
  .loan-container {
    width: 300px;
    margin: auto;
    padding: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius: 5px;
    text-align: center;
    background: #3b444b;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.5);
    color: white;
  }
  
  input[type='range'] {
    width: 100%;
    margin: 10px 0;
  }
  
  button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  label, h2, h3 {
    color: white;
  }